/* body {
    background-color: rgb(165, 187, 180);
} */
.header {
    background-color: blue;
}
.header a {
    justify-content: space-around;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Alice', serif;
}
.header a:hover {
    background-color: rgb(255, 146, 127);
}
.header img {
    padding-left: 30px;
    width:20%;
    height: 20%;
}
.name {
    background-image: url(../max-images/max3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.name h1 {
    font-size: 60px;
    font-family: 'Jacques Francois Shadow', cursive;
    color: blue;
}
.name p {
    font-size: 40px;
    font-family: 'Italianno', cursive;
    font-family: 'Jacques Francois Shadow', cursive;
    font-family: 'Merriweather', serif;
    color: black;
}
.name h2 {
    font-family: 'Alice', serif;
    font-size: 55px;
}
#choice {
    font-family: 'Alice', serif;
    text-align: center;
    font-size: 18px;
}
@media screen and (min-width: 576px) { 
    .header{
   display:block;
    }
 }
 .main {
     text-align: center;
 }
 .main1 {
     text-align: center;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSXOuuVUp3lr8qKdtH9wfcT1TiRF29ydale4WCc25-acelTWDfGg);
     font-weight: bold;
 }
 .cover {
     background-size: cover;
 }
 #p1 {
     justify-content: center;
     margin-left: 12px;
 }
