body {
    background-color: rgb(165, 187, 180);
}
.header {
    background-color: blue;
}
.header a {
    justify-content: space-around;
    color: black;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Jacques Francois Shadow', cursive;
    color: white;
}
.header a:hover {
    background-color: rgb(255, 146, 127);
}
.header img {
    padding-left: 30px;
}
.name {
    background-image: url(../max-images/max3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.name h1 {
    font-size: 60px;
    font-family: 'Jacques Francois Shadow', cursive;
    color: blue;
}
.name p {
    font-size: 40px;
    font-family: 'Italianno', cursive;
    font-family: 'Jacques Francois Shadow', cursive;
    font-family: 'Merriweather', serif;
    color: black;
}
.name h2 {
    font-family: 'Alice', serif;
    font-size: 55px;
}
#choice {
    font-family: 'Alice', serif;
    text-align: center;
    font-size: 18px;
}
/* .Jumbotron {
    border-style: solid;
    border-block-color: blue;
} */